/*
Colors used

Primary Color (Blue): #6991AC;
Secondary Color (Gray): #67727A;
Background Color (Light Blue): #C3D7DF;
Highlight Color (Red): #D75C37;
Menu Background Color (White): #F5F5F5;

*/

body {
  background-color: #F5F5F5;
  font-family: 'Lato', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  line-height: 1.6; /* Sets the line height to 1.6 */
}

h1 {
  font-size: 30px; /* Overrides the 16px for a heading 1 with 30px */
  text-align: center; /* Centers text */
  padding: 10px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

a {
  color: #6991AC;
}

a:visited { /* visited link */
  color: blue;
}

a:hover {
  text-decoration: none; /* No underlining when hovering over a link */
}

a:focus {
  text-decoration: none; /* Will be activated when an element is targeted by the keyboard */
}

a:active { /* selected link */
  color: #489c79;
}

button {
  /* overwrite the browser defaults */
  border: none; /* resets the border */
  font-family: inherit; /* takes the font from the outer container - the body */

  /* style button */
  background-color: #6991AC;
  font-size: 16px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 2px solid #03474c; /* width of the border, type of border, color */
}

button:hover,
button:focus {
  cursor: pointer; /* let's the mouse appear as a hand when hovering over the button */
  opacity: 0.8; /* reduces the opacity of the button to 80% */
}

* {
  box-sizing: border-box;
}

/* Layout styling */

.wrapper {
  min-width: 360px;
  max-width: 1000px;
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  padding: 0 20px;
}

.columns-container {
  font-size: 0;
}

.column-4 {
  font-size: 16px;
  width: 24%;
  display: inline-block;
  margin-right: 1%;
  text-align: center; /* Centers text */
}

.column-1 {
  font-size: 16px;
  width: inherit;
  margin: inherit;
  text-align: center;
}

.navigation {
  list-style-type: none;
  padding: 0;
  float: right;
}

.navigation > li {
  display: inline-block;
  margin-left: 10px;
}

.logo {
  height: 50px;
  width: 50px;
}

.work-logo {
  height: 100%;
  width: 100%;
}

.social-logo {
  width: 5%;
  height: 5%;
  padding: 10px;
}

.top-bar {
  background-color: #C3D7DF;
  height: 50px;
}

@media all and (max-width: 750px) {
  .logo {
    /* Make logo smaller by changing it's height */
    height: 40px;
    width: 40px;
  }
  h1 {
    /* Reduce font-size of heading */
    font-size: 24px;
    text-align: left;
  }
  .column-4 {
    /* Modify 4-column to 2- column */
    width: 49%;
    margin-right: 1%;
  }
  .top-bar {
    height: 40px;
  }
}

@keyframes color-change {
  0% {fill: #EDC655;}
  50% {fill: #f76414;}
}

@keyframes cloud-move {
  from {transform: translate(-50px,10px);}
  to {transform: translate(90px,10px);}
}

@keyframes cloud-move-reverse {
  from {transform: translate(6px,38px);}
  to {transform: translate(-50px,38px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
