/*
Colors used

Primary Color (Blue): #6991AC;
Secondary Color (Gray): #67727A;
Background Color (Light Blue): #C3D7DF;
Highlight Color (Red): #D75C37;
Menu Background Color (White): #F5F5F5;

*/

body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  line-height: 1.6; /* Sets the line height to 1.6 */
}

header {
  font-size: 16px;
  height: 50px;
}

nav {
  float: right;
}

hr {
  color: #ddd;
  width: 650px;
  float: left;
}

h1 {
  font-size: 1.5em; /* Overrides the 16px for a heading 1 with 30px */
  text-align: center; /* Centers text */
}

h2 {
  font-size: 24px;

}

h3 {
  font-size: 18px;
}

p {
  font-family: Verdana;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}

a {
  color: #8385A5;
  text-decoration: none;
}

a:hover {
  text-decoration: none; /* No underlining when hovering over a link */
  color: #FCC103;
}

a:focus {
  text-decoration: none; /* Will be activated when an element is targeted by the keyboard */
}

a:active { /* selected link */
  color: #489c79;
}

button, /* Applies for buttons in a form*/
.button { /* Applies for links with the button class */
  /* overwrite the browser defaults */
  border: none; /* resets the border */
  font-family: inherit; /* takes the font from the outer container - the body */
  display: inline-block;

  /* style button */
  background-color: #717498;
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 2px solid #031537; /* width of the border, type of border, color */
  transition: 0.5s opacity;
}

button:hover,
.button:hover,

button:focus {
  cursor: pointer; /* let's the mouse appear as a hand when hovering over the button */
  opacity: 0.8; /* reduces the opacity of the button to 80% */
}

* {
  box-sizing: border-box;
}

/* Layout styling */

.wrapper {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  padding: 0 20px;
}

.main-content {
  float: left;
  width: 700px;
  height: 400px;
  border-radius: 6px;
}

.columns-container {
  white-space: nowrap;
}

.column-4 {
  font-size: 16px;
  width: 24%;
  display: inline-block;
  margin-right: 1%;
  text-align: center; /* Centers text */
  white-space: normal;
  vertical-align: top;
}

.column-1, iframe {
  display: inline-block;
  font-size: 16px;
  width: 100%;
  margin: inherit;
  text-align: left;
  white-space: normal;
  align-items: center;
  border-style: none;
}

.column-1-about {
  display: inline-block;
  font-size: 16px;
  width: 100%;
  margin: inherit;
  text-align: center;
  white-space: normal;

}

.navigation {
  list-style-type: none;
  padding: 0 10px 0 0;
  margin: 12.5px 0;
}

.navigation > li {
  display: inline-block;
  margin-left: 10px;
}

.logo {
  height: 50%;
  margin-top: 10px;
}

.project-logo-right {
  height: 10%;
  width: 40%;
  margin: 0 25px 0 25px;
  float: right;
}

.project-logo-left {
  height: 10%;
  width: 40%;
  margin: 0 25px 15px 25px;
  float: left;
}

.project-logo-center {
  display: block;
  height: 10%;
  width: 40%;
  margin: 10px auto 0 auto;
}

.home-logo {
  height: 50%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.work-logo {
  height: 100%;
  width: 100%;
}

.social-logo {
  width: 10%;
  height: 10%;
  padding: 10px;
}

.badge-logo {
  height: 100px;
  display: block;
  margin: 0 auto 0 auto;
}
.project {
  position: relative;
}

.project-preview{
  position: relative;
}

.project-details {
  display: none;
  position: absolute;
  color: white;
  font-size: 14px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  background: rgba(3, 21, 55, 0.75);
  cursor: pointer;
}

.sidebar {
float: right;
width: 300px;
height: 100%;
background: #fff;
margin-top: 10px;
}

.sidebar, h3 {
  padding-left: 20px;
  color: #333;
}

/*Timeline Styling*/

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #031537;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FCC103;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #031537;
  position: relative;
  border-radius: 6px;
  color: white;
}


@media all and (max-width: 750px) {
  .logo {
    /* Make logo smaller by changing it's height */
    height: 35%;
  }
  h1 {
    /* Reduce font-size of heading */
    font-size: 24px;
    text-align: left;
  }
  .column-4 {
    /* Modify 4-column to 2- column */
    width: 49%;
    margin-right: 2%;
    margin-bottom: 20px;
    float: left;
  }
  .column-4:nth-child(even) {
  margin-right: 0;
  }
}
/*
svg {
  max-width: 80%;
}

@keyframes color-change {
  5% {fill: #edc655;}
  50% {fill: #f76414;}
}

@keyframes cloud-move {
  from {transform: translate(-50px,10px);}
  to {transform: translate(80px,10px);}
}

@keyframes cloud-move-reverse {
  from {transform: translate(6px,38px);}
  to {transform: translate(-50px,38px);}
}

.cloud-front {
  animation: 20s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 10s cloud-move-reverse infinite alternate linear;
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
*/
